<link rel="stylesheet" href="https://codemirror.net/lib/codemirror.css">
<script src="https://codemirror.net/lib/codemirror.js"></script>

<script src="https://codemirror.net/mode/css/css.js"></script>



<%= form_tag create_complex_page_path do %>



<div class="row m-top-15">
		<div class="input-field col s12 m6 p-left-15">
			<input type="text" name="title" id="contenttitle_change" class="admin-textfield md-font auto_change_text " placeholder="Page Title" required="required" data-id="title-page-url" data-toggle="tooltip" data-title="Type in your page title here">
		</div>

		<div class="input-field col s12 m6 p-right-15">
			<input type="text" name="page_url" id="title-page-url" class="admin-textfield md-font " placeholder="Page URL" required="required" data-toggle="tooltip" data-title="Type in your page title here">
		</div>
</div>



  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#html">HTML</a></li>
        <li class="tab col s3"><a href="#css">CSS</a></li>
        <li class="tab col s3"><a href="#javascript">JAVASCRIPT</a></li>
        <li class="tab col s3"><a href="#preview">Preview</a></li>
      </ul>
    </div>

<div id="html" class="col s12">

	<textarea id="htmledit" name="html"></textarea>

</div>

<div id="css" class="col s12">

	<textarea id="cssedit" name="css"></textarea>

</div>

<div id="javascript" class="col s12">

	<textarea id="javascriptedit" name="javascript"></textarea>

</div>

<div id="preview" class="col s12">


</div>

</div>




  <div class="actions">
    <%= submit_tag "Create", class: 'btn' %>
  </div>
<% end %>




<script>
editor("htmledit", "html");
editor("cssedit", "css");
editor("javascriptedit", "javascript");

function editor(id, mode)
{
    CodeMirror.fromTextArea(document.getElementById(id), {
        lineNumbers: true,
        mode: mode
    });
}
</script>

