<div class="col s12">
	<div class="col s12">
		<h5 class="xl-font upcase indigo-text text-accent-1 thin">Complex Page Editor</h5>
	</div>
</div>

<%= render 'form' %>

<%= link_to 'Back', pages_path %>
