<!DOCTYPE html>
<html>
<head>
  <title>Atlys complex page</title>
  <%= stylesheet_link_tag    "atlys_complex_page/application", media: "all" %>
  <%= javascript_include_tag "atlys_complex_page/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
